<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>微信公众号爬虫</title>
		<link rel="stylesheet" href="../css/index.css" />
		<script type="text/javascript" src="../js/vue.js" ></script>
		<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		<div class="wrapper" id="pageContainer">
			<div class="panel panel-default" style="margin-bottom: 0px;">
				<div class="panel-heading">
					<h3 class="panel-title">
                    <a href="https://github.com/lijian17/WebCrawler/wiki" target="_blank" class="x-a-high">
                        <img src="../image/icon16.png" alt="微信" style="margin-top: -3px;"/> 爬虫</a>：微信公众号爬虫-人民日报</h3>
				</div>
			</div>

			<div class="panel panel-default panel-heading" style="margin-bottom: 0px; margin-top: 10px;">Tips：将微信列表页地址复制粘贴到输入框，点击获取即可</div>

			<div class="panel-body mod-endecode">
				<div class="row">
					<textarea class="form-control mod-textarea ui-mb-10" id="srcText" ref="srcText" v-model="sourceContent" placeholder="粘贴微信公众号数据源地址"></textarea>
				</div>

				<div class="row">
					<div class="radio ui-d-ib">
						<label><input type="radio" name="codeType" value="coreValuesEncode" v-model="selectedType" @click="convert()">社会主义核心价值观-加密</label>
					</div>
					<div class="radio ui-d-ib ui-ml-05">
						<label><input type="radio" name="codeType" value="coreValuesDecode" v-model="selectedType" @click="convert()">社会主义核心价值观-解密</label>
					</div>
					<input id="btnCodeClear" class="btn btn-warning ui-fl-r ui-ml-10" type="button" value="清空" @click="clear()">
					<input id="btnCodeChange" class="btn btn-success ui-fl-r" type="button" value="获取" @click="convert()">
				</div>

				<div id="rst" class="row" v-show="resultContent.length > 0">
					<textarea class="form-control mod-textarea" id="rstCode" ref="rstCode" v-model="resultContent" @mouseover="getResult()"></textarea>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="index.js"></script>
	</body>

</html>